[workspace]
resolver = "3"
members = ["crates/*"]

[workspace.package]
authors = ["David Malchin <malchin459@gmail.com>"]
edition = "2024"
rust-version = "1.85"
repository = "https://github.com/D4isDAVID/dxm"
license = "MIT"
include = [
  "src",
  "CHANGELOG.md",
  "LICENSE",
  "README.md"
]

[workspace.dependencies]
clap = { version = "4.5.53", features = ["cargo", "env"] }
dirs = "6.0.0"
dxm-artifacts = { path = "./crates/dxm-artifacts", version = "0.1.1" }
dxm-home = { path = "./crates/dxm-home", version = "0.1.1" }
dxm-init = { path = "./crates/dxm-init", version = "0.1.1" }
dxm-manifest = { path = "./crates/dxm-manifest", version = "0.1.1" }
fern = "0.7.1"
flate2 = "1.1.5"
fs-err = "3.2.0"
git2 = "0.20.2"
log = { version = "0.4.28", features = ["std"] }
reqwest = { version = "0.12.24", features = ["blocking"] }
self-replace = "1.5.0"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.141"
tar = "0.4.44"
tempfile = "3.23.0"
toml_edit = { version = "0.23.7", features = ["serde"] }
xz2 = "0.1.7"
zip = { version = "6.0.0", features = ["deflate"], default-features = false }

[package]
name = "dxm"
version = "0.1.2"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
description = "A manager for FXServer artifacts & resources."
repository.workspace = true
license.workspace = true
keywords = ["fivem", "redm", "fxserver", "cfx", "citizenfx"]
categories = ["command-line-utilities"]
include.workspace = true

[dependencies]
clap.workspace = true
dxm-artifacts.workspace = true
dxm-home.workspace = true
dxm-init.workspace = true
dxm-manifest.workspace = true
log.workspace = true
reqwest.workspace = true
fern.workspace = true
