# Cfx.re Server Registration Key
# https://portal.cfx.re/servers/registration-keys
sv_licenseKey ""

# Steam Web API Key
# https://steamcommunity.com/dev/apikey
steam_webApiKey ""

# Tebex Unique Secret Key
# https://docs.fivem.net/docs/server-manual/setting-up-a-tebex-store/
sv_tebexSecret ""

# The key to pass to file servers.
adhesive_cdnKey ""

# A custom token to require for the `/players.json` endpoint.
sv_playersToken ""

# A custom token to require for the `/profileData.json` endpoint.
sv_profileDataToken ""

# A custom password to require for Mumble admins.
mumble_adminPass ""

# A custom password to require for RCON connections.
rcon_password ""

# Prometheus login information.
sv_prometheusBasicAuthUser ""
sv_prometheusBasicAuthPassword ""
